
var ServerConfig = {
    'port': 3000
};

var ClientList = {
    'dummy': {
        'endpoint': 'tcp://localhost:1300',
        'call_name': 'simple_req_streaming',
        'args': []
    },
};

module.exports = {
        'server': ServerConfig,
        'ClientList': ClientList
};
